---
import Layout from '../layouts/Layout.astro';
import fs from "fs";
import yaml from "js-yaml";

const breadcrumbs = [
  { name: "Discover", href: "discover" },
];

// Load YAML data at build time
const file = fs.readFileSync("./src/data/discover-sections.yml", "utf8");
const data = yaml.load(file);
const items = data.items || ["test"];
console.log(items)
---

<Layout breadcrumbs={breadcrumbs}>
  <h1>Welcome to Materials Cloud DISCOVER!</h1>
  <p>Some content.</p>
  {items.map((item) => (
    <div class="mc-discover-item">
      <img src={`images/logos/${item.logo}`} alt={`${item.title} logo`} />
      <div>
      <p>{item.title}</p>
      <p>{item.description}</p>
      <p>Authors: {item.authors}</p></div>
    </div>
  ))}
</Layout>

<style>
  .mc-discover-item {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    gap: 10px;
    margin: 10px;
  }
  .mc-discover-item img {
    height: 60px;
  }
</style>