---
// tools / discover banner listings.
// since these dont need API hits at all.
const { entries, rootPath } = Astro.props;
---

<div class="entries-container">
  {
    entries.map((entry) => (
      <div class="entry-container">
        <div class="entry-flex">
          <a
            href={
              entry.link.startsWith("http")
                ? entry.link
                : `${rootPath}/${entry.link}`
            }
          >
            <img
              src={`images/logos/${entry.logo}`}
              alt={entry.title}
              class="entry-image"
            />
          </a>
        </div>
        <div class="entry-info-container">
          <div class="flex items-center flex-wrap">
            <a
              href={
                entry.link.startsWith("http")
                  ? entry.link
                  : `${rootPath}/${entry.link}`
              }
              class="entry-title"
            >
              {entry.title}
            </a>
            {entry.doi &&
              entry.doi.map((doi) => (
                <span class="doi-badge">
                  <span class="doi-left">DOI</span>
                  <a href={`https://doi.org/${doi}`} class="doi-right">
                    {doi}
                  </a>
                </span>
              ))}
          </div>
          <div class="entry-author">
            <b>Authors:&nbsp;</b>
            {entry.authors}
          </div>
          <div class="entry-description">
            <b>Description: </b>
            <span set:html={entry.description} />
          </div>
        </div>
      </div>
    ))
  }
</div>
